<div class="nav-bar-brand"><p class="text-center">© <a class="brand-chill" href="#" alt="go up">Symbiosity<span class="brand-coding">F<span class="brand-o">FDMS</span>DING</span></a> - Fire Detection Management System.</p></div>
