<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Work is better at the where ther is fire safety.</h1>
            <hr>
            <p>You have a <strong>Fire</strong> or <strong>Safety</strong> project idea? Symbiosity can make it a reality.</p>
            <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
