<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Fire Detection Management System</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-graduation-cap wow bounceIn text-primary" data-wow-delay=".2s"></i>
              <h3>Training</h3>
              <p class="text-muted">We organize fire training session.<br><a href="/formations">Learn More</a></p>
            </div>
          </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary"></i>
                    <h3>Android Apps</h3>
                    <p class="text-muted">We develop your fire and safety project and make it visible, thanks to our <abbr title="App Store Optimization">ASO</abbr> expertise.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Web Sites</h3>
                    <p class="text-muted">We realize your fire site project: company site, blog, Web app...</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box">
                <i class="fa fa-4x fa-heart-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                <h3>Made Remotely</h3>
                <p class="text-muted">We work in the best place to deliver great products.</p>
              </div>
            </div>
        </div>
    </div>
</section>
